* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f2eae2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 16px;
}

.caja-principal {
  background-color: white;
  min-height: 611px;
  width: 343px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.cajita-arriba {
}

.cajita-abajo {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subtitulo {
  color: #6c7289;
  font-size: 14px;
  letter-spacing: 4px;
}
.desc {
  color: #6c7289;
  font-size: 14px;
  letter-spacing: .5px;
}
h1 {
  font-size: 32px;
  font-family: 'Fraunces', serif;
}


.cajita-precio{
    
display: flex;
gap: 24px;
align-items: center;
}

.precio-final{
    color: #3D8168;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
}

.precio-inicio{
    color: #6c7289;
    text-decoration: line-through;
}

.boton{
    background:none;
    border: none;
    background-color: #3D8168;
    padding: 16px;
    max-height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.texto-boton{
    color: white;
    font-weight: bold;
}